{
  "openapi": "3.1.0",
  "info": {
    "title": "Partners REST API",
    "description": "\n## Introduction\nWelcome to the interactive documentation for the Nuweb Partner API. All available endpoints are listed in the left menu and can be executed directly within the browser, making it easy for developers and non-developers alike to familiarise themselves and interact with the API. Code snippets are available in over 18 different programming languages.\n\n**If you are not currently a partner, but are looking to interact with the Admin API, you can find the documentation [here](https://api.nuwebgroup.com/v1/docs#/).**\n\n## Getting Started\nInteracting with the API is as simple as 3 easy steps:\n1. First, obtain an API token via the _Partner API_ token management UI in the Hub.\n2. You'll also need to know the ID of the reseller you wish to target. This can be found in the reseller dropdown within the Hub dashboard.\n2. Then, select an endpoint from the left-hand side and paste the API token into the `Token` field, and the Reseller ID into the `X-NU-RESELLER-ID` parameter field on the far right column, just above the *Send Request* button.\n3. Finally, click **Send Request** and inspect the response shown below to see if your call was successful.\n\n## Frequently Asked Questions\n\n#### How often do I need to obtain an API token?\nYou only need to obtain a token __once per user account__ as the token can be re-used indefinitely. The only time that it's mandatory to obtain a new token is if you have reason to believe that there has been a breach involving your existing token.\n\n#### Does requesting a token invalidate the previous token?\nNo, requesting a new token will not impact any existing tokens.\n\n#### How do I revoke a token?\nTokens can be revoked from the token management interface found in Hub > System > Partner API. You may need to request for your token to be revoked if you do not have the required permissions to access this section.\n\n#### Which endpoints do I have access to?\nThe level of access depends entirely on the roles & permissions associated with the account used to generate your API token. If you are a Super User, then you will have access to all endpoints.\n\n#### What data will I be able to access through the API?\nEach endpoint clearly defines the format of the returned data along with sample data. The data will match what you can see in the Hub, meaning it will be filtered down based on your permissions and visibility group(s).\n\n#### How does it work with multi-company accounts?\nBecause some users have access to more than one reseller account, you are required to specify a reseller ID via the `X-NU-RESELLER-ID` header. This header must be passed to every API call within the Partner API.\n\n#### How are API changes handled\nWe try our best to adhere to a _'no-breaking-changes'_ policy and favour a backward-compatibility approach. We may introduce a new major version of the API from time-to-time if we need to apply structural changes. This would not effect existing integrations as the new version will be exposed through a different URL (i.e. `/v2/events` instead of `/v1/events`). Any changes, major or minor, will be documented in our API changelog.\n\n## Changelog\n\nChanges to the Partner API will be documented below in reverse chronological order. Refer to the official release notes for the wider system updates.\n\n#### 8th April 2024\n- Introduced the ability to specify `roles` when creating company users via the `POST /users` endpoint\n- Introduced `POST /companies/{companyId}` to update companies and their related data.\n\n#### 18th October 2023\n- Introduced `GET /companies` and `GET /companies/{companyId}` to retrieve companies and their related data.\n- Introduced `DELETE /companies/{companyId}` and `POST /companies/{companyId}/restore` to delete and restore companies respectively.\n\n#### April 2023\n- First release of our Partner API\n- Ability to create new companies\n- Ability to create new users for a given company, and generate API tokens which can then be used to authenticate with the Admin API.\n\n",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.nuwebgroup.com/v1/partner"
    }
  ],
  "paths": {
    "/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Retrieve Companies",
        "description": "This endpoint can be used to return a list of companies for the given reseller.",
        "operationId": "retrieveCompanies",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-nu-reseller-id"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/only"
          },
          {
            "$ref": "#/components/parameters/except"
          },
          {
            "$ref": "#/components/parameters/withTrashed"
          },
          {
            "name": "liveMode",
            "in": "query",
            "description": "Filter companies by only those in _live mode_, or those in _demo mode_. If no filter is secified, both live and demo companies will be returned.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Filter companies by the given parent company ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "groupByParent",
            "in": "query",
            "description": "Returns only parent companies in the top level data. The `children` include may be used in conjunction with this parameter to get a nested relation of child companies per parent.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "false",
              "enum": [
                "true"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A list of related resources you wish to include in the response. Values can be a url encoded array, or comma separated string.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "children",
                  "countries",
                  "currencies",
                  "featureFlags",
                  "fees",
                  "gateways",
                  "languages",
                  "settings"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the companies.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 123
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "companies"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/company"
                          },
                          "relationships": {
                            "properties": {
                              "countries": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "countries"
                                      ]
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "currencies": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "currencies"
                                      ]
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "featureFlags": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "featureFlags"
                                      ]
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "fees": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "fees"
                                      ]
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "gateways": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "gateways"
                                      ]
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "languages": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "languages"
                                      ]
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "companySettings": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "integer"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "companySettings"
                                      ]
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "included": {
                      "properties": {
                        "children": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "companies"
                                ]
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/company"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "countries": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/country"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "currencies": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/currency"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "featureFlags": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/featureFlag"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "fees": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/companyFee"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "gateways": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/companyPaymentGateway"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "languages": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/language"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "companySettings": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/companySettings"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "type": "object"
                    },
                    "links": {
                      "$ref": "#/components/schemas/paginationLinks"
                    },
                    "meta": {
                      "properties": {
                        "total": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create Company",
        "description": "This endpoint can be used to create a new company within a given reseller account.",
        "operationId": "createCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-nu-reseller-id"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a company.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "alias",
                  "currencies",
                  "countries",
                  "languages",
                  "timezone"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "alias": {
                    "description": "This must be a unique, DNS compatible alias used to generate a subdomain for the company.",
                    "type": "string"
                  },
                  "currencies": {
                    "description": "An array of [ISO_4217](https://en.wikipedia.org/wiki/ISO_4217#List_of_ISO_4217_currency_codes) currency codes to be enabled for the company. e.g. `GBP`, `USD`, `MXN` etc.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "countries": {
                    "description": "An array of [ISO 3166](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes#Current_ISO_3166_country_codes) alpha-2 country codes to be enabled for the company. e.g. `GB`, `US`, `MX` etc.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "languages": {
                    "description": "An array of locale codes to be enabled for the company. e.g. `en`, `en_US`, `es_MX` etc.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "gateways": {
                    "description": "An array of gateway slugs to be enabled for the company.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "fees": {
                    "description": "An array of usage fees to be applied to transactions within this company. You should provide fees for each combination of currency, item type and sales point you want fees to be applied to.",
                    "type": "array",
                    "items": {
                      "required": [
                        "currency",
                        "typeId",
                        "salesPointTypeId",
                        "bands"
                      ],
                      "properties": {
                        "currency": {
                          "description": "An [ISO_4217](https://en.wikipedia.org/wiki/ISO_4217#List_of_ISO_4217_currency_codes) currency code.",
                          "type": "string",
                          "example": "GBP"
                        },
                        "typeId": {
                          "description": "Allowed values include:\n\n- `1` Ticket fees\n- `2` Product fees\n- `3` Guest list fees\n- `4` Gateway fees\n- `5` Charity donation fees\n- `6` Season ticket fees\n- `7` Wallet topup fees\n- `8` Epos product fees\n- `9` Fee item fees\n- `10` Fulfilment fee item fees\n- `11` Gift voucher fees\n- `12` Refund protection fees\n- `13` Bundle fees\n",
                          "type": "integer"
                        },
                        "salesPointTypeId": {
                          "description": "Allowed values include:\n\n- `1` Ticket shop\n- `2` Box office\n- `3` API\n- `4` Epos app\n",
                          "type": "integer"
                        },
                        "bands": {
                          "type": "array",
                          "items": {
                            "required": [
                              "rangeMin",
                              "rangeMax",
                              "fixed",
                              "percent",
                              "min",
                              "max"
                            ],
                            "properties": {
                              "rangeMin": {
                                "description": "The minimum cost of items this fee applies to.",
                                "type": "integer"
                              },
                              "rangeMax": {
                                "description": "The maximum cost of items this fee applies to. If `null` provided, this band will apply to all items with a price >= `rangeMin`.",
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              },
                              "fixed": {
                                "description": "The fixed fee to be applied. This is the smallest unit of the given currency.",
                                "type": "integer"
                              },
                              "percent": {
                                "description": "The percentage fee to be applied.",
                                "type": "number"
                              },
                              "min": {
                                "description": "The minimum fee value. This is the smallest unit of the given currency.",
                                "type": "integer"
                              },
                              "max": {
                                "description": "The maximum fee value. This is the smallest unit of the given currency.",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "features": {
                    "description": "An array of slugs for features to be enabled for this company. A full list of available features can be retrieved via the [Available features](/operations/availableFeatures) endpoint. Alternatively, passing `*` here will enable all available features for the company.",
                    "type": "array",
                    "items": {}
                  },
                  "timezone": {
                    "description": "Default timezone for the company.",
                    "type": "string",
                    "example": "Europe/London"
                  },
                  "parent": {
                    "description": "Parent company options. May not be used in combination with `children`.",
                    "properties": {
                      "id": {
                        "description": "The ID of the parent company.",
                        "type": "integer"
                      },
                      "globalTransactions": {
                        "description": "Enable global transactions across the child and parent company. Defaults to `false`.",
                        "type": "boolean"
                      },
                      "globalLogin": {
                        "description": "Enable global login between the child and parent company. Defaults to `false`, unless `globalTransactions` is enabled.",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "children": {
                    "description": "Companies to associate as children of the company being created. May not be used in combination with `parent`.",
                    "type": "array",
                    "items": {
                      "properties": {
                        "id": {
                          "description": "The ID of the child company.",
                          "type": "integer"
                        },
                        "globalTransactions": {
                          "description": "Enable global transactions across the child and parent company. Defaults to `false`.",
                          "type": "boolean"
                        },
                        "globalLogin": {
                          "description": "Enable global login between the child and parent company. Defaults to `false`.",
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "dashboardUrl": {
                    "description": "Optionally, a default admin URL which users will be redirected to upon login.",
                    "type": "string",
                    "example": "/events"
                  },
                  "copyEventsLimit": {
                    "description": "The maximum number of additional dates an organiser can setup for an event at one time, applicable to recursive and copy events. Defaults to `31`, max `60`.",
                    "type": "integer"
                  },
                  "eventTimeslotsLimit": {
                    "description": "The maximum number of timeslots permissible in a single event. Defaults to `30`, max `100`.",
                    "type": "integer"
                  },
                  "billingName": {
                    "type": "string"
                  },
                  "billingAddress": {
                    "type": "string"
                  },
                  "salesTaxNumber": {
                    "type": "string"
                  },
                  "apiAccessType": {
                    "description": "By default, company API access is disabled. To enable the API for this company, pass one of the below options. Note, to enable this feature, your reseller account must have access to the `api_access` company feature.",
                    "type": "string",
                    "enum": [
                      "none",
                      "read_only",
                      "read_write"
                    ]
                  },
                  "apiRateLimit": {
                    "description": "The max number of requests that can be made within a 60s period.",
                    "type": "integer"
                  },
                  "trialExpiresAt": {
                    "type": "string"
                  }
                },
                "type": "object",
                "example": {
                  "name": "Global Ticket Site",
                  "alias": "globaltickets",
                  "currencies": [
                    "GBP",
                    "USD"
                  ],
                  "countries": [
                    "GB"
                  ],
                  "languages": [
                    "en"
                  ],
                  "gateways": [
                    "stripe"
                  ],
                  "features": [],
                  "fees": [
                    {
                      "currency": "GBP",
                      "typeId": 1,
                      "salesPointTypeId": 1,
                      "bands": [
                        {
                          "rangeMin": 1,
                          "rangeMax": null,
                          "fixed": 100,
                          "percent": 0,
                          "min": null,
                          "max": null
                        }
                      ]
                    }
                  ],
                  "timezone": "Europe/London",
                  "trialExpiresAt": "2023-04-01 00:00:00"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the company.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/company"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object",
                  "example": {
                    "data": {
                      "type": "companies",
                      "id": 9999,
                      "attributes": {
                        "name": "Global Ticket Site",
                        "alias": "globaltickets",
                        "createdAt": "2023-04-01T13:12:11.000000Z",
                        "updatedAt": "2023-04-01T13:12:11.000000Z",
                        "deletedAt": null
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/companies/{companyId}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Retrieve Company",
        "description": "This endpoint can be used to retrieve a single company resource for the given reseller.",
        "operationId": "retrieveCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-nu-reseller-id"
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID of the company you wish to retrieve.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/only"
          },
          {
            "$ref": "#/components/parameters/except"
          },
          {
            "$ref": "#/components/parameters/withTrashed"
          },
          {
            "name": "include",
            "in": "query",
            "description": "A list of related resources you wish to include in the response. Values can be a url encoded array, or comma separated string.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "children",
                  "countries",
                  "currencies",
                  "featureFlags",
                  "fees",
                  "gateways",
                  "languages",
                  "settings"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the company.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "companies"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/company"
                        },
                        "relationships": {
                          "properties": {
                            "countries": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "currencies": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "featureFlags": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "fees": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "gateways": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "languages": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "companySettings": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            }
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "included": {
                      "properties": {
                        "children": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "companies"
                                ]
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/company"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "countries": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/country"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "currencies": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/currency"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "featureFlags": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/featureFlag"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "fees": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/companyFee"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "gateways": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/companyPaymentGateway"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "languages": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/language"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "companySettings": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/companySettings"
                                }
                              },
                              "relationships": {
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Update Company",
        "description": "This endpoint can be used to update a company within a given reseller account.",
        "operationId": "updateCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-nu-reseller-id"
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID of the company you wish to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for updating a company.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "alias": {
                    "description": "This must be a unique, DNS compatible alias used to generate a subdomain for the company.",
                    "type": "string"
                  },
                  "currencies": {
                    "description": "An array of [ISO_4217](https://en.wikipedia.org/wiki/ISO_4217#List_of_ISO_4217_currency_codes) currency codes to be enabled for the company. e.g. `GBP`, `USD`, `MXN` etc.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "countries": {
                    "description": "An array of [ISO 3166](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes#Current_ISO_3166_country_codes) alpha-2 country codes to be enabled for the company. e.g. `GB`, `US`, `MX` etc.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "languages": {
                    "description": "An array of locale codes to be enabled for the company. e.g. `en`, `en_US`, `es_MX` etc.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "gateways": {
                    "description": "An array of gateway slugs to be enabled for the company.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "recalculateAllFees": {
                    "description": "Recalculate all item fees for the company. Defaults to `false` if not provided.",
                    "type": "boolean"
                  },
                  "fees": {
                    "description": "An array of usage fees to be applied to transactions within this company. You should provide fees for each combination of currency, item type and sales point you want fees to be applied to.",
                    "type": "array",
                    "items": {
                      "required": [
                        "currency",
                        "typeId",
                        "salesPointTypeId",
                        "bands"
                      ],
                      "properties": {
                        "currency": {
                          "description": "An [ISO_4217](https://en.wikipedia.org/wiki/ISO_4217#List_of_ISO_4217_currency_codes) currency code.",
                          "type": "string",
                          "example": "GBP"
                        },
                        "typeId": {
                          "description": "Allowed values include:\n\n- `1` Ticket fees\n- `2` Product fees\n- `3` Guest list fees\n- `4` Gateway fees\n- `5` Charity donation fees\n- `6` Season ticket fees\n- `7` Wallet topup fees\n- `8` Epos product fees\n- `9` Fee item fees\n- `10` Fulfilment fee item fees\n- `11` Gift voucher fees\n- `12` Refund protection fees\n- `13` Bundle fees\n    ",
                          "type": "integer"
                        },
                        "salesPointTypeId": {
                          "description": "Allowed values include:\n\n    - `1` Ticket shop\n    - `2` Box office\n    - `3` API\n    - `4` Epos app\n    ",
                          "type": "integer"
                        },
                        "bands": {
                          "type": "array",
                          "items": {
                            "required": [
                              "rangeMin",
                              "rangeMax",
                              "fixed",
                              "percent",
                              "min",
                              "max"
                            ],
                            "properties": {
                              "rangeMin": {
                                "description": "The minimum cost of items this fee applies to.",
                                "type": "integer"
                              },
                              "rangeMax": {
                                "description": "The maximum cost of items this fee applies to. If `null` provided, this band will apply to all items with a price >= `rangeMin`.",
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              },
                              "fixed": {
                                "description": "The fixed fee to be applied. This is the smallest unit of the given currency.",
                                "type": "integer"
                              },
                              "percent": {
                                "description": "The percentage fee to be applied.",
                                "type": "number"
                              },
                              "min": {
                                "description": "The minimum fee value. This is the smallest unit of the given currency.",
                                "type": "integer"
                              },
                              "max": {
                                "description": "The maximum fee value. This is the smallest unit of the given currency.",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "features": {
                    "description": "An array of slugs for features to be enabled for this company. A full list of available features can be retrieved via the [Available features](/operations/availableFeatures) endpoint. Alternatively, passing `*` here will enable all available features for the company.",
                    "type": "array",
                    "items": {}
                  },
                  "timezone": {
                    "description": "Default timezone for the company.",
                    "type": "string",
                    "example": "Europe/London"
                  },
                  "parent": {
                    "description": "Parent company options. May not be used in combination with `children`.",
                    "properties": {
                      "id": {
                        "description": "The ID of the parent company.",
                        "type": "integer"
                      },
                      "globalTransactions": {
                        "description": "Enable global transactions across the child and parent company. Defaults to `false`.",
                        "type": "boolean"
                      },
                      "globalLogin": {
                        "description": "Enable global login between the child and parent company. Defaults to `false`, unless `globalTransactions` is enabled.",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "children": {
                    "description": "Companies to associate as children of the company being created. May not be used in combination with `parent`.",
                    "type": "array",
                    "items": {
                      "properties": {
                        "id": {
                          "description": "The ID of the child company.",
                          "type": "integer"
                        },
                        "globalTransactions": {
                          "description": "Enable global transactions across the child and parent company. Defaults to `false`.",
                          "type": "boolean"
                        },
                        "globalLogin": {
                          "description": "Enable global login between the child and parent company. Defaults to `false`.",
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "dashboardUrl": {
                    "description": "Optionally, a default admin URL which users will be redirected to upon login.",
                    "type": "string",
                    "example": "/events"
                  },
                  "copyEventsLimit": {
                    "description": "The maximum number of additional dates an organiser can setup for an event at one time, applicable to recursive and copy events. Defaults to `31`, max `60`.",
                    "type": "integer"
                  },
                  "eventTimeslotsLimit": {
                    "description": "The maximum number of timeslots permissible in a single event. Defaults to `30`, max `100`.",
                    "type": "integer"
                  },
                  "billingName": {
                    "type": "string"
                  },
                  "billingAddress": {
                    "type": "string"
                  },
                  "salesTaxNumber": {
                    "type": "string"
                  },
                  "apiAccessType": {
                    "description": "By default, company API access is disabled. To enable the API for this company, pass one of the below options. Note, to enable this feature, your reseller account must have access to the `api_access` company feature.",
                    "type": "string",
                    "enum": [
                      "none",
                      "read_only",
                      "read_write"
                    ]
                  },
                  "apiRateLimit": {
                    "description": "The max number of requests that can be made within a 60s period.",
                    "type": "integer"
                  },
                  "trialExpiresAt": {
                    "type": "string"
                  }
                },
                "type": "object",
                "example": {
                  "name": "Global Ticket Site",
                  "alias": "globaltickets",
                  "currencies": [
                    "GBP",
                    "USD"
                  ],
                  "countries": [
                    "GB"
                  ],
                  "languages": [
                    "en"
                  ],
                  "gateways": [
                    "stripe"
                  ],
                  "features": [],
                  "fees": [
                    {
                      "currency": "GBP",
                      "typeId": 1,
                      "salesPointTypeId": 1,
                      "bands": [
                        {
                          "rangeMin": 1,
                          "rangeMax": null,
                          "fixed": 100,
                          "percent": 0,
                          "min": null,
                          "max": null
                        }
                      ]
                    }
                  ],
                  "timezone": "Europe/London",
                  "trialExpiresAt": "2023-04-01 00:00:00"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the company.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/company"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object",
                  "example": {
                    "data": {
                      "type": "companies",
                      "id": 9999,
                      "attributes": {
                        "name": "Global Ticket Site",
                        "alias": "globaltickets",
                        "createdAt": "2023-04-01T13:12:11.000000Z",
                        "updatedAt": "2023-04-01T13:12:11.000000Z",
                        "deletedAt": null
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Companies"
        ],
        "summary": "Delete Company",
        "description": "This endpoint can be used to delete a company for the given reseller.",
        "operationId": "deleteCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-nu-reseller-id"
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID of the company you wish to delete.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the company.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/companies/{companyId}/restore": {
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Restore Company",
        "description": "This endpoint can be used to restore a deleted company for the given reseller.",
        "operationId": "restoreCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-nu-reseller-id"
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The ID of the company you wish to restore.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully restored the company.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "companies"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/company"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/reseller/features": {
      "get": {
        "tags": [
          "Reseller"
        ],
        "summary": "Available features",
        "description": "This endpoint can be used to retrieve a list of enabled platform features for your reseller account.",
        "operationId": "availableFeatures",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-nu-reseller-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of available features.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "properties": {
                              "slug": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "isLimitation": {
                                "description": "Limitations work on the inverse to a feature, meaning when enabled they restrict functionality rather than exposing it.",
                                "type": "boolean"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object",
                  "example": {
                    "data": {
                      "type": "features",
                      "id": "timeslots",
                      "attributes": {
                        "slug": "timeslots",
                        "description": "This will allow events to add tickets to specific time slots.",
                        "isLimitation": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/reseller/payment-gateways": {
      "get": {
        "tags": [
          "Reseller"
        ],
        "summary": "Available payment gateways",
        "description": "This endpoint can be used to retrieve a list of enabled payment gateways for your reseller account.",
        "operationId": "availableGateways",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-nu-reseller-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of available gateways.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object",
                  "example": {
                    "data": {
                      "type": "gateways",
                      "id": "stripe",
                      "attributes": {
                        "name": "Stripe",
                        "slug": "stripe"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/users": {
      "post": {
        "tags": [
          "Company users"
        ],
        "summary": "Create Company User",
        "description": "Create a new company user.",
        "operationId": "8e8bd30b2d16211c0a0ffe926f9b6a5c",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-nu-reseller-id"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a company user.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "companies",
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "companies": {
                    "description": "An array of company ID's to associate the new user to.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "roles": {
                    "description": "An array of roles to assign to this user on creation. By default the first user in a company will receive the `super_user` role if no other roles are provided. Subsequent users will receive no roles unless specified. Available role keys can be copied from the role management section within hub.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "password": {
                    "description": "This field is optional, allowing you to create a user without a password. This user will be able to set their own password using the forgot password functionality when logging in.",
                    "type": "string"
                  },
                  "registrationSource": {
                    "description": "This field is optional, allowing you to specify the users registration source. If left empty it will default to <b>api</b>.",
                    "type": "string",
                    "enum": [
                      "web",
                      "api",
                      "app"
                    ]
                  },
                  "apiTokenName": {
                    "description": "If provided, an API key will be generated for the user and returned in the response. **Note: the API key will only be returned in this request. Subsequent lookups of the user via the company API will not yield this value.**",
                    "type": "string"
                  }
                },
                "type": "object",
                "example": {
                  "name": "John Doe",
                  "email": "email@example.com",
                  "companies": [],
                  "password": "Password123"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the company user.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "object"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "attributes": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object",
                  "example": {
                    "data": {
                      "type": "users",
                      "id": 1,
                      "attributes": {
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "phone": null,
                        "phone_code": null,
                        "createdAt": "2021-11-22T11:59:00.000000Z",
                        "updatedAt": "2021-11-22T11:59:00.000000Z"
                      },
                      "relationships": {
                        "companyUsers": {
                          "data": [
                            {
                              "type": "companyUsers",
                              "id": 1
                            }
                          ]
                        },
                        "visibilityGroups": {
                          "data": [
                            {
                              "type": "visibilityGroups",
                              "id": 1
                            }
                          ]
                        }
                      }
                    },
                    "included": [
                      {
                        "type": "companyUsers",
                        "id": 1,
                        "atributes": {
                          "isSelected": true,
                          "locale": null,
                          "acceptedTermsAt": null,
                          "acceptedPrivacyAt": null,
                          "acceptedEmailOptInAt": null,
                          "createdAt": "2021-11-22T11:59:00.000000Z",
                          "updatedAt": "2021-11-22T11:59:00.000000Z"
                        }
                      },
                      {
                        "type": "visibilityGroups",
                        "id": 1,
                        "atributes": {
                          "name": "Bristol Office",
                          "createdAt": "2021-11-22T11:59:00.000000Z",
                          "updatedAt": "2021-11-22T11:59:00.000000Z"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "paginationLinks": {
        "description": "These URLs can be used to navigate paginated requests.",
        "properties": {
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "self": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "companyFee": {
        "title": "Company Fee",
        "properties": {
          "currencyId": {
            "type": "integer"
          },
          "currencyCode": {
            "type": "string"
          },
          "currencySymbol": {
            "type": "string"
          },
          "type": {
            "description": "\n * `1` Ticket\n * `2` Product\n * `3` Guest List\n * `4` Gateway\n * `5` Charity\n * `6` Season Ticket\n * `7` Wallet Topup\n * `8` Epos Product\n * `9` Fee\n",
            "type": "integer"
          },
          "typeSlug": {
            "type": "string"
          },
          "rangeMin": {
            "type": [
              "integer"
            ]
          },
          "rangeMax": {
            "type": [
              "integer",
              "null"
            ]
          },
          "salesPointTypeId": {
            "description": "\n * `1` Shop\n * `2` Box Office\n * `3` API\n * `4` _deprecated_\n * `5` Data Import\n * `6` Invoice\n * `7` Kiosk\n",
            "type": "integer"
          },
          "salesPointTypeSlug": {
            "type": "string"
          },
          "percent": {
            "type": [
              "string",
              "null"
            ]
          },
          "fixed": {
            "type": [
              "integer",
              "null"
            ]
          },
          "min": {
            "type": [
              "integer",
              "null"
            ]
          },
          "max": {
            "type": [
              "integer",
              "null"
            ]
          },
          "blendedReseller": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object",
        "example": {
          "currencyId": 1,
          "type": 1,
          "rangeMin": 1,
          "rangeMax": null,
          "salesPointTypeId": 1,
          "percent": "2.4000",
          "fixed": 25,
          "min": null,
          "max": null,
          "blendedReseller": false,
          "createdAt": "2023-01-01T10:22:57.000000Z",
          "updatedAt": "2023-01-01T10:22:57.000000Z"
        }
      },
      "companyPaymentGateway": {
        "title": "Company Payment Gateway",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "enabledInBoxOffice": {
            "type": [
              "boolean"
            ]
          },
          "enabledInShop": {
            "type": [
              "boolean"
            ]
          },
          "isPrimary": {
            "description": "Returns true if either of `isPrimaryBoxOffice` or `isPrimaryShop` is true",
            "type": [
              "boolean"
            ]
          },
          "isPrimaryBoxOffice": {
            "type": [
              "boolean"
            ]
          },
          "isPrimaryShop": {
            "type": [
              "boolean"
            ]
          }
        },
        "type": "object",
        "example": {
          "name": "Stripe",
          "slug": "stripe",
          "enabledInBoxOffice": true,
          "enabledInShop": true,
          "isPrimary": true,
          "isPrimaryBoxOffice": true,
          "isPrimaryShop": true
        }
      },
      "country": {
        "title": "Country",
        "properties": {
          "name": {
            "type": "string"
          },
          "iso": {
            "type": "string"
          },
          "iso3": {
            "type": "string"
          },
          "phoneCode": {
            "type": "string"
          }
        },
        "type": "object",
        "example": {
          "name": "United Kingdom",
          "iso": "GB",
          "iso3": "GBR",
          "phoneCode": 44
        }
      },
      "currency": {
        "title": "Currency",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "subunit": {
            "type": "integer"
          },
          "isPrimary": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "isCashless": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "isCustom": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "type": "object",
        "example": {
          "name": "Dollars",
          "code": "USD",
          "symobol": "$",
          "subunit": 2,
          "isPrimary": true,
          "isCashless": false,
          "isCustom": false
        }
      },
      "eventMedia": {
        "title": "Event Media",
        "properties": {
          "name": {
            "type": "string"
          },
          "globalDefaults": {
            "type": "array",
            "items": {
              "properties": {
                "fallback": {
                  "description": "When true, this event media is the fallback open in situations where there are no event media options provided.",
                  "type": "boolean"
                },
                "ticket": {
                  "type": "boolean"
                },
                "product": {
                  "type": "boolean"
                },
                "seasonTicket": {
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          },
          "thumbnailUrl": {
            "description": "A preview image URL for this event media design. <strong>These URLs are temporary signed URLs and should not be stored or relied upon for longer than a few minutes. It is recommended that a copy of the images be saved locally.</strong>",
            "type": "string"
          }
        },
        "type": "object",
        "example": {
          "name": "VIP Wristband Design",
          "isVisibleInBoxOffice": true,
          "thumbnailUrl": "https://example.com/path/to/image.jpg"
        }
      },
      "featureFlag": {
        "title": "Feature Flag",
        "properties": {
          "feature": {
            "description": "The global identifier for this feature flag used across the system.",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "isLimitation": {
            "description": "When `true`, this attribute inidicates that this feature flag has a restricts certain functionality.",
            "type": "boolean"
          },
          "context": {
            "description": "Some feature flags may be enabled in different modes to further customise the behaviour. This attribute inidicates the specified value.",
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object",
        "example": {
          "feature": 6,
          "name": "Seating Plans",
          "slug": "seating_plans",
          "description": "Enabling seating plans will allow users to create small or large seating plans for the events in their company.",
          "isLimitation": false,
          "context": 2
        }
      },
      "language": {
        "title": "Language",
        "properties": {
          "name": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "isFallback": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "type": "object",
        "example": {
          "name": "English",
          "locale": "en",
          "isFallback": true
        }
      },
      "company": {
        "title": "Company",
        "properties": {
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "parentId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object",
        "example": {
          "name": "Global ticket company",
          "alias": "globalticketcompany",
          "createdAt": "2023-01-01T13:57:01.000000Z",
          "updatedAt": "2023-01-01T13:57:01.000000Z",
          "deletedAt": null
        }
      },
      "companySettings": {
        "title": "Company Settings",
        "properties": {
          "copyEventsLimit": {
            "type": "integer"
          },
          "basketSizeLimit": {
            "type": "integer"
          },
          "eventTimeslotsLimit": {
            "type": "integer"
          },
          "sendEventCreationNotification": {
            "type": "boolean"
          },
          "eventCreationEmails": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "performanceMode": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "dynamicMapsEnabled": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "customUrlsEnabled": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "timezone": {
            "type": "string"
          },
          "trialExpiresAt": {
            "type": "string"
          },
          "dashboardUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "poweredBy": {
            "type": [
              "integer",
              "null"
            ],
            "enum": [
              0,
              1
            ]
          },
          "poweredByName": {
            "type": [
              "string",
              "null"
            ]
          },
          "poweredByUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "companyFromName": {
            "type": [
              "string",
              "null"
            ]
          },
          "companyFromEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "adminGoogleTagManagerCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "liveMode": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "business": {
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "email": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "website": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "phoneCode": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "phone": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "billingName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "billingAddress": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "salesTaxNumber": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "defaultTaxBandId": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            },
            "type": "object"
          },
          "api": {
            "properties": {
              "accessType": {
                "description": "\n * `1` None\n * `2` Read only\n * `3` Read write\n",
                "type": "integer",
                "enum": [
                  1,
                  2,
                  3
                ]
              },
              "rateLimit": {
                "type": "integer"
              }
            },
            "type": "object"
          },
          "sso": {
            "properties": {
              "enabled": {
                "type": "integer",
                "enum": [
                  0,
                  1
                ]
              },
              "type": {
                "type": "string"
              },
              "baseUrl": {
                "type": "string"
              },
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "changeEmailUrl": {
                "type": "string"
              },
              "changePasswordUrl": {
                "type": "string"
              },
              "logoutUrl": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "waitingRoom": {
            "properties": {
              "enabled": {
                "type": "integer",
                "enum": [
                  0,
                  1
                ]
              },
              "userLimit": {
                "type": "integer"
              },
              "inactivityMins": {
                "type": "integer"
              },
              "maxHoldMins": {
                "type": "integer"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "ValidationError": {
        "description": "A validation error response.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                },
                "errors": {
                  "type": "object"
                }
              },
              "type": "object"
            },
            "example": {
              "message": "The given data was invalid.",
              "errors": {
                "field_name": [
                  "The field_name field is required"
                ]
              }
            }
          }
        }
      },
      "AuthenticationError": {
        "description": "An invalid token was supplied",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "example": {
              "message": "Unauthenticated."
            }
          }
        }
      },
      "AuthorizationError": {
        "description": "Your user does not have the required abilities to perform this action.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "example": {
              "message": "This action is unauthorized."
            }
          }
        }
      },
      "NotFoundError": {
        "description": "The identifier that you have supplied couldn't be found within your tenancy.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "example": {
              "message": "No query results for model [ModelName]."
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "The rate limit for your account has been exceeded.",
        "headers": {
          "X-Remaining-Requests": {
            "schema": {
              "type": "integer"
            }
          },
          "X-Available-In-Seconds": {
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "example": {
[...]
